<!doctype html>
<html class="no-js" lang="">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{copy.title}}</title>
  <meta name="description" content="{{copy.description}}">
  <meta name="author" content="@jessevondoom">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="https://cdn.glitch.com/9f35da85-6537-4c08-8c75-92364571d412%2Flogo-bw-email.png?v=1579197689402">
  
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <div class="row">
        <h1>
          {{#showadmin}}
          {{subscription.members}} people, ${{subscription.value}}/period
          {{/showadmin}}
          {{^showadmin}}
          Log in
          {{/showadmin}}
        </h1>
        <h2>
          SUBSTATION <span class="diy">DASHBOARD</span> <span class="logo">///</span>
        </h2>
      </div>
    </div>
  </div>
  
  <div class="section more">
    <div class="container">
      <div class="row">
        <div class="two columns">&nbsp;</div>
        <div class="eight columns">
          {{#showadmin}}
            <p>
              Here you can export your up-to-the-minute member list as a basic CSV 
              file or send a message to all those members directly. You'll also find
              an embed code for a signup widget you can put on your own website.
            </p>
            <code>
              &lt;!-- Substation embed code --&gt;
              <br />
              &lt;script src="https://cdn.jsdelivr.net/gh/substationhq/lodge@0.9.1/source/lodge.js"&gt;&lt;/script&gt;<br />
              &lt;embed class="lodge" src="{{substationURL}}embed"&gt;<br />
            </code>
            <p>
              <br />
              <a href="/export" class="button">Export subscribers as CSV</a>
              <br />
              <a href="/mailing" class="button">Send a mailing to all subscribers</a>
            </p>
          {{/showadmin}}
          {{^showadmin}}
            <p>
              Substation doesn't use easily-forgotten passwords. Instead we send a secure single-use
              login link directly to your inbox. Just enter your admin email address to get started.
            </p>
            {{^postsend}}
              <form id="admin-login" action="/dashboard" method="GET">
                <input type="email" placeholder="admin@email.com" name="email">
                <input type="submit" value="Log in now" />
              </form>
            {{/postsend}}
            {{#postsend}}
              <p>
                Check your inbox. We just sent you a login link.
              </p>
            {{/postsend}}
          {{/showadmin}}
        </div>
        <div class="two columns">&nbsp;</div>
      </div>
    </div>
  </div>
  
  <div class="section footer">
    <div class="container">
      
      <div class="row">
        <div class="corner">
          <h1>
            <span class="logo">///</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
  
<!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--script type="text/javascript" src="/loading.js"></script-->
  
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
</body>
</html>