<!doctype html>
<html class="no-js" lang="">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{copy.title}}</title>
  <meta name="description" content="{{copy.description}}">
  <meta name="author" content="@jessevondoom">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="https://cdn.glitch.com/ae8fe322-3d99-45d4-b293-37c0791f3234%2Flodge.png">
  <script type="text/javascript" src="https://lodge.glitch.me/source/lodge.js" data-options="noembed"></script>
  
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <div class="row">
          <h1 id="site-title"><span class="logo">⫻</span>{{copy.title}}</h1>
          <h2>
            {{copy.description}}
          </h2>
      </div>
    </div>
  </div>

  <div class="section more">
    <div class="container">
      <div class="row">
        <div class="seven columns">
          <ul>
            <li><span>All transactions processed securely on Braintree servers with no information stored locally — safe and secure.</span></li>
            <li><span>No tiers — build a cohesive and inclusive community without artificial status. Fans pay what they want, you choose a minimum.</span></li>
            <li><span>Free and open-source — control your subscriptions and fan clubs without a platform taking a cut or getting between you and your fans.</span></li>
          </ul>
        </div>
        <div class="five columns">
          <div id="details">
            <div class="subscription-widget">
              <div class="checkout-button">
                <input type="number" id="input-price" value="{{braintree.minimumCost}}">
                <button id="checkout">Subscribe: $<span id="checkout-price">{{braintree.minimumCost}}</span>/mo</button>
              </div>
              <div class="fine-print">
                By signing up you are agreeing to recurring payments. You are free to <a href="#" id="cancelLink">cancel</a> any time.
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  
<!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <script>
    var vv = window.lodge;
    // set our options for the checkout module
    var checkoutOptions = {
      braintree: '{{braintree.clientToken}}',
      recurring:true,
      endpoint:'/subscribe',
      successMsg:'Success. Your monthly payments are set up, and you should see a confirmation email shortly.',
      errorMsg:'There was a problem. Please check your credit card information and try again.',
      amount:{{braintree.minimumCost}}
    };
    
    // don't set up any events until Lodge says we're ready
    vv.events.add(vv,'ready', function(e) {
      // load the checkout module then prep (loads CSS stuff so there's no lag when we open the window)
      vv.loadScript(vv.path + '/checkout/checkout.js', function () {
        vv.checkout.prep();
      });
      
      // allow for price customization
      vv.events.add(document.getElementById('input-price'),'change', function(e) {
        if (e.target.value > {{braintree.minimumCost}}) {
          checkoutOptions.amount = e.target.value;
          document.getElementById('checkout-price').innerHTML = e.target.value;
        } else {
          e.target.value = {{braintree.minimumCost}};
        }
      });
      
      // start the checkout process
      vv.events.add(document.getElementById('checkout'),'click', function(e) {
        e.preventDefault();
        vv.checkout.begin(checkoutOptions);
      });
      
      // handle the unsubscription flow
      vv.events.add(document.getElementById('cancelLink'),'click', function(e) {
        e.preventDefault();
        
        var container = document.createElement('div');
            container.id = 'unsubscribe-form-wrapper';
        var instructions = document.createElement('p');
            instructions.innerHTML = 'Enter your email below and check your inbox for an unsubscribe link.';
        var unsubscribeForm = document.createElement('form');
            unsubscribeForm.id = 'unsubscribeForm';
        var emailInput = document.createElement('input');
            emailInput.type = 'email';
            emailInput.id = 'unsubscribeEmail';
            emailInput.placeholder = 'you@email.com';
        var emailSubmit = document.createElement('input');
            emailSubmit.type = 'submit';
            emailSubmit.value = 'Unsubscribe';
        
        vv.events.add(emailSubmit,'click', function(e) {
          e.preventDefault();
          
          var poststring = 'email='+document.getElementById('unsubscribeEmail').value;
          vv.ajax.send('/unsubscribe', poststring, function(r) {
            if (r == 'OK') {
              vv.overlay.reveal('<h2 class="vv-checkout-success">Check your inbox. We\'ve sent you a secure unsubscribe link.</h2>');
            } else {
              vv.overlay.reveal('<h2 class="vv-checkout-error">Something went wrong. Please reload the page and try again.</h2>');
            }
          });
        });
        
        unsubscribeForm.appendChild(emailInput);
        unsubscribeForm.appendChild(emailSubmit);

        container.appendChild(instructions);
        container.appendChild(unsubscribeForm);
        
        vv.overlay.reveal(container);
      });
    });
  </script>
  
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
</body>
</html>