<!doctype html>
<html class="no-js" lang="">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{copy.title}}</title>
  <meta name="description" content="{{copy.description}}">
  <meta name="author" content="@jessevondoom">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="https://cdn.glitch.com/9f35da85-6537-4c08-8c75-92364571d412%2Flogo-bw-email.png?v=1579197689402">
  
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  
  <div class="section hero">
    <div class="container">
      <div class="row">
        <h1>
          {{#showgoodbye}}
            We're sorry to see you go.
          {{/showgoodbye}}
          {{^showgoodbye}}
            Cancel and unsubscribe.
          {{/showgoodbye}}
        </h1>
        <h2>
          SUBSTATION <span class="diy">DIY</span> <span class="logo">///</span>
        </h2>
        <p>
          <br />
          {{#showgoodbye}}
            {{#justrequested}}
              We've sent you a link to confirm that you want to cancel. Just click the button to 
              cancel any payments and opt out of mailings.
            {{/justrequested}}
            {{^justrequested}}
              Your recurring payment has been cancelled. You will still be seen as holding an active 
              subscription membership through the end of this current billing cycle. Should you want 
              to restart at any time just visit the main page and sign up again. 
              <br /><br />
              Thank you for your support.
            {{/justrequested}}
          {{/showgoodbye}}
          {{^showgoodbye}}
            <h2>Enter your email — we'll send you a cancel/unsubscribe link.</h2>
              <form action="/unsubscribe" id="unsubscribeForm" method="POST">
                <input type="email" id="email" name="email" placeholder="you@email.com">
                <input type="submit" value="Unsubscribe">
            </form>
          {{/showgoodbye}}
        </p>
      </div>
    </div>
  </div>
  
<!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
</body>
</html>