<!doctype html>
<html class="no-js" lang="">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{copy.title}}</title>
  <meta name="description" content="{{copy.description}}">
  <meta name="author" content="@jessevondoom">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="https://cdn.glitch.com/ae8fe322-3d99-45d4-b293-37c0791f3234%2Flodge.png">
  
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <div class="row">
        <h1 id="site-title"><span class="logo">⫻</span>{{copy.title}}</h1>
        <h2>
          {{#showgoodbye}}
            We're sorry to see you go.
          {{/showgoodbye}}
          {{#showerror}}
            Something went wrong.
          {{/showerror}}
        </h2>
        <p>
          {{#showgoodbye}}
            Your recurring payment has been cancelled. You will still be seen as holding an active 
            subscription membership through the end of this current billing cycle. Should you want 
            to restart at any time just visit the main page and sign up again. 
            <br /><br />
            Thank you for your support.
          {{/showgoodbye}}
          {{#showerror}}
            Please make sure you used the same email address that you signed up with and try again.
          {{/showerror}}
        </p>
      </div>
    </div>
  </div>
  
<!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
</body>
</html>