h2 a {
  text-decoration: none;
}

div.section.more {
  background-color: #fff;
  min-height: 20em;
}

.hero {
  padding: 4em 0 6em 0;
  background-image: none;
}

/* body */
#body-copy {
  padding:2em 0 1.5em 0;
  color:#000;
  font-size:1.125em;
}

#body-copy a {
  text-decoration: none;
}

#body-copy li {
  display: inline-block;
  margin-right:1.5em;
  margin-left:-1.5em;
}

#body-copy li span {
  display: inline-block;
  position: relative;
  top: 9px;
  margin-right: 0.5em;
  width: 24px;
  height: 24px;
  background-size: cover;
  border-radius: 12px;
}

/* admin dashboard */
#admin-login input[type=email] {
  width: 100%;
  height: 48px;
}

/* email composer (quill) */
.ql-editor {min-height:16em;}