/*** Fonts, typography, resets, etc ***************/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&family=Zilla+Slab:wght@300;700&display=swap');

/* apply a natural box layout model to all elements, but allowing components to change */
body {
  background-color:transparent;
  font-size: 16px;
  font-family: "Zilla Slab","Roboto Slab",serif;
}

h1,h2,h3,h4 {
  font-family:'Quicksand','helvetica neue',helvetica,arial,sans-serif;
  color:#000;
}
a {
  color: #cff0ff;
}
a:hover {
  color: #00aeff;
}

/* form elements */

form {
  margin-bottom: 25px;
  padding: 15px 0 15px 0;
  display: inline-block;
  font-weight:200;
  width: 100%;
}

/*
input[type=text] {
  font-family: system-ui;
  font-weight: 400;
  padding: 12px;
  font-size: 16px;
  line-height: 24px;
  color: rgb(40, 44, 55);
}
*/
  
a.button, button, input[type=submit], input[type=button] {
  font-family:Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 0.65em;
  line-height:16px;
  background-color: #00a500;
  width:100%;
  border: none;
  padding: 16px;
  height: 48px;
  color: #fff;
  text-transform:uppercase;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

a.button:hover, button:hover, input[type=submit]:hover, input[type=button]:hover {
  color:black;
  background-color: #ffff00;
}

button:disabled, input[type=button]:disabled {
  background-color: #666;
  color: #999;
}


/*subscription widget*/
.container.vv-embed {
  width:100%;
  padding:0;
}

#widget-copy {
  position: relative;
  top:-11em;
  right:-1em;
  text-align:right;
}

.subscription-widget {
  font-family: "Zilla Slab","Roboto Slab",serif;
  background-color:#fff;
  margin-bottom:0;
  border-radius: 9px;
  overflow:hidden;
}

.checkout-button {
  display: flex;
  padding: 16px;
  position:relative;
  justify-content:space-between;
}

.checkout-button input {
  line-height:16px;
  min-width:7em;
  flex-basis:40%;
  padding:1rem 1rem 1rem 2rem;
  height:48px;
  font-family: monospace;
  position:relative;
  color:#111;
  margin-bottom:0;
}
.checkout-button::before {
  content:'$';
  font-family: monospace;
  display:block;
  height: 48px;
  z-index:10;
  color: #666;
  line-height:16px;
  padding:16px 0 0;
  background:transparent;
  position: absolute;
  top:16px;
  left:1.5em;
}

.checkout-button button {
  height:48px;
  flex-basis:55%;
  transition:all 0.2s ease;
  margin-bottom:0;
}
.checkout-button input:focus {
  box-shadow: 0 0 8px rgba(100,193,235,0.5);
}

.fine-print, .sandbox-mode {
  background: #333;
  padding: 11px;
  font-size: 13px;
  line-height: 14px;
  color:#aaa;
}

.sandbox-mode a {
  color: #ec0000;
}
.sandbox-mode a:hover {
  color: #00aeff;
}

.sandbox-mode {
  background: #ffff00;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(235,219,0.5) 15px, rgba(235,219,0.5) 30px);
  padding: 8px 16px;
  color:#222;
}

.checkout-button input {
  flex-basis:40%;
}

.checkout-button button {
  flex-basis:55%;
}